*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: whitesmoke;
    font-family: 'Space Mono', monospace;
}
.main{
    background-color: black;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 5rem;
}
button{
    font-family: 'Space Mono', monospace;
    background: none;
    border: whitesmoke 2px solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    color: whitesmoke;
    transition: all 0.3s ease-out;
}
button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color:black;
    transform: scale(1.05) translateY(-3px);
}
button:active{
    background-color: gray;
    border: gray;
}
h1::selection{
    background-color: whitesmoke;
    color: black;
}
span::selection{
    background-color: whitesmoke;
    color: black;
}
img{
    position: fixed;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.mode{
    filter: invert(1);
}
.author{
    position: absolute;
    bottom: 3%;
}

